<!-- <h2>câp nhật sản phẩm</h2>
<a class="btn btn-dark " href="#!/list">Quay lai</a>
<form ng-init="formAdd={}">
    <div class="mb-3">
        <label for="name">Name</label>
        <input class="form-control"  type="text" class="name" ng-model="formAdd.name">
    </div>
    <div class="mb-3">
        <label for="price">Price</label>
        <input class="form-control "   type="text" class="price" ng-model="formAdd.price">
    </div>
    <div class="mb-3">
        <button class="btn btn-danger " ng-click="edit()" >cap nhat</button>
    </div>
</form> -->
<div class="col-md-8">

    <!-- general form elements -->
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Cập nhật sản phẩm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" ng-init="formAdd={}">
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="formAdd.name"
                        placeholder="Mời bạn nhập name">
                    <p class="text-red ">{{err.name ? err.name : ""}}</p>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" ng-model="formAdd.price"
                            placeholder="Mời bạn nhập price">
                        <p class="text-red">{{err.price ? err.price : ""}}</p>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" ng-click="edit()">Cập nhật</button>
                </div>
        </form>
    </div>

    <!-- /.box -->

</div>